html {
  background-color: #000;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;
  position: relative;
  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  position: absolute;
  left: calc(50% - 14px);
  top: calc(50% - 14px);
  width: 28px;
}

.hand {
  position: absolute;
  width: 14px;
}

.hand-hour {
  transform-origin: center bottom;
  animation: hour 3s linear infinite;
  position: absolute;
  left: calc(50% - 7px);
  top: calc(50% - 60px);
}

.hand-minute {
  transform-origin: center bottom;
  animation: minute 600ms linear infinite;
  position: absolute;
  left: calc(50% - 7px);
  top: calc(50% - 80px);
}

@keyframes hour {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes minute {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
